body {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}


/* Navbar */
nav {
    background-color: black;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav a {
    font-family: var(--font);
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}

nav a:hover {
    text-decoration: underline;
    color: crimson;
}

/* Landing area got some help from internet to achive what I wanted*/
.landing {
    padding: 200px 0;
    text-align: center;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    background-size: 1400% 1400%;
    -webkit-animation: rainbow 12s ease infinite;
    -z-animation: rainbow 12s ease infinite;
    -o-animation: rainbow 12s ease infinite;
    animation: rainbow 12s ease infinite;

}

@-webkit-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

@-moz-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

@-o-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

@keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}
#floatright {
    margin: 10px;
    float: right;
    padding-top: 17px;
    border-radius: 10px;
}
.landing h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.landing h2 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 50px;
    color: white;
}

table img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}
#title2{
    font-size: 40px;
    text-align: left;
    padding-left: 20px;
}

#desc2 {
    text-align: left;
    margin: 0;
    padding-left: 20px;
}

.aboutme {
    margin: 3% 10%;
}

.links {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 0 2px;
}

.links:hover {
    background-color: crimson;
}

.tiz {
    color: white;
    background-color: black;
}

.hobby.aboutme {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.hob,
.int {
    flex-basis: 45%;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {

    .hob,
    .int {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
}


.inbox {
    border: 2px solid crimson;
    border-radius: 5px;
    padding: 10px;
}


table,
td {
    /* border: 1px solid #333; */
    padding: 10px;
}

.button {
    /* background-color: wheat; */
    border: 2px solid crimson;
    border-radius: 5px;
    margin: 10px;
    padding: 50px;
    cursor: pointer;
}


.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.button:hover {
    background-color: crimson;
    color: white !important;
}

.activebutton {
    background-color: crimson;
    color: white !important;
}

a .button {
    text-align: center;
    text-decoration: none;
    color: black;
}
a {
    text-decoration: none;
}

.article {
    border: 2px solid black;
    border-radius: 5px;
    margin: 100px;
    padding-left: 20px;
}

.articleTitle {
    font-size: 40px;
}

.article h3 {
    padding: 6px 40px;
}

.article p {
    padding: 1px 80px;
}

.article ol {
    padding: 1px 100px;
}

hr {
    margin: 50px 100px;
}